<h3>Create a new article</h3>
<form action="/articles" method="post">
  <input type="text" name="article[title]" placeholder="title" value="">
  <input type="text" name="article[author]" placeholder="author" value="">
  <input type="text" name="article[content]" placeholder="content" value="">
  <input type="text" name="article[topic]" placeholder="topic" value="">
  <input type="submit" name="" value="Create Article">
</form>
